[server.1]
	service = "Greeter"
	proto = "helloworld.proto"
	pkg = "helloworld"
	grpc = "localhost:50051"
[server.2]
	service = "Byeworld"
	proto = "byeworld.proto"
	pkg = "byewolrd"
	grpc = "localhost:50052"
[proxy.1]
	from = "/react-app"
	to = "localhost:3000"
